$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower
.head {
    background-color: #A9E2F3;
}
.sidebar
{
    background-color:#c2d6d6;
    padding-top:10px;
}
.headerOrder
{
    padding:40px;
}
#js-navbar-collapse,
.headeralign {
    padding-left: 0px;
    padding-right: 0px;
}

.ibox {
    margin-bottom: 20px;
    padding: 0;
    border-left:3px solid #ff6600;
}

.gap {
    margin-top: 20px;
}

.scroll {
    height: 200px;
    overflow-y: scroll;
}

.footer {
    background-color: #204060;
    color: #ffffff;
    padding: 10px;
    position: fixed;
    bottom: 0;
}

.menu {
    background-color: #204060;
    color: #ffffff;
}

#sf {
    background: url('http://static.tumblr.com/f1skqpy/Oxbn13qun/search_icon.png') #f5f5f5 right center no-repeat;
    background-size: 10px 10px;
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    border-bottom: transparent;
}




 .icon-autoscroll {
    width: 70%;
}

.icon-autoscroll-disabled {
    width: 100%;
}